* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
    min-height: 100vh;
}

.container {
    border: solid black;
    margin: 10px;
}

.resume-container {
    /* border: solid black; */
    margin: 75px;
    /* font-size: 2rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; */
    display: flex;
}
.profile-section {
    
    /* border-top-right-radius: 20px; */
    border-top-left-radius: 20px;
    /* border-bottom-right-radius: 20px; */
    border-bottom-left-radius: 20px;
    background-color: #2c78ab ;
    width: 30%;
    flex-direction: column;
    justify-content: space-evenly;
}
.element-section {
    /* border: 2px solid black; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.image {
    text-align: center;
    /* border: solid red; */
    padding-top: 50px;
    height: 350px;
}

.picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

h1 , h2 {
    color: white;
}

.contact {
    /* border: solid blue; */
    padding-top: 75px;
    height: 500px;
    color: white;
    
}

.relevant-skills {
    /* border: solid green; */
    height: 500px;
    color: white;
}

ul, h3 {
    margin-left: 75px;
}

.linkedin-logo, .email-logo, .phone-logo, .web-logo, .porfiolo-logo , .work-logo {
    width: 35px;
    height: 35px;
}
.contact-item {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.work-experience {
    /* border: solid black; */
    height: 500px;

}
.highlight {
    /* border: solid blue; */
    width: 80%;
    height: 45px;
    margin-left: 20%;
    margin-top: 5%;
    padding-top: 15px;
    padding-left: 15px;
    background-color: lightblue;
}
.work {
    display: flex;
    gap: 25px;
    margin-left: 30%;
    margin-top: 40px;
}
.work-logo {

}
    
.education {
    border: solid red;
    height: 500px;

}

.certifications {
    border: solid blue;
    height: 350px;
}
.desc {
    font-size: 20px; 
  
}
.description {
    margin-left: 30%;
    margin-top: 15px;
}
#work-place {
    margin-top: 25px;

}
li {
    width: 40ch;
    margin: 5px;
}
