* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
    min-height: 100vh;
}

.container {
    border: solid black;
    margin: 10px;
}

.resume-container {
    border: solid black;
    margin: 75px;
    /* font-size: 2rem; */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
}
.profile-section {
    border: 2px solid #2c78ab;
    background-color: #2c78ab ;
    width: 30%;
    flex-direction: column;
    justify-content: space-evenly;
}
.element-section {
    border: 2px solid black;
    background-color: white;
    width: 70%;
}

.image {
    text-align: center;
    border: solid red;
    padding-top: 50px;
    height: 350px;
}

.picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

h1 , h2 {
    color: white;
}

.contact {
    border: solid blue;
    height: 500px;
    color: white;
}

.relevent-skills {
    border: solid green;
    height: 500px;
    color: white;
}